title, body, header, main, footer{
    width: 100%;
    display: flex;
}

body{
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #d0e2f5;
}

header {
    box-sizing: content-box;
    background-color: #5594c4;
    z-index: 1000;
    position: fixed;
}

/* nav */
nav {
    display: flex;
    flex-direction:row;
    width: 100%;
    padding:5px;
    align-content: space-between;
    position: sticky;
}


nav .enfants {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width:100%;
    margin: 0 15%;
}

nav .logo {
    margin-left:3%;
}

nav div {
    height:100%;
    align-content: center;
}

nav > .enfants *{
    display: flex;
    flex-direction: row;
}

nav > div a {
    color: white;
    margin: auto 0;
    text-decoration: none;
}

nav h1 {
    font-size : 35px;
    font-family: 'coffee_fills', 'Arial Black', serif;
}

nav h1:hover {
    transform: scale(1.05);
}

nav img {
    width: 50px;
    margin-right: 10px;
}

nav .login {
    margin-left:10%;
    display: inline-block;
    text-align: end;
    align-self:flex-end;
}

nav h2 {
    font-size: 20px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

nav h2:hover, nav img:hover, .boite1 button:hover {
    transform: scale(1.1);
}

nav h1, nav h2, nav img {
    transition: transform 0.2s ease-in;
}

@font-face{
    font-family: 'coffee_fills';
    src:url('Fonts/coffee_fills/Coffee Fills.ttf');
}

main, section, a{
    width: 100%;
    display: flex;
}
main {
    position: absolute;
    flex-direction: column;
    bottom:0;
    height: 90%;
}

.boite1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-block: hidden;
}

.boite1 h2{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    margin-top: 10%;
    font-size: 30px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    transition: ease-in 0.2s;
}

#Mtp, #Sete {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#Mtp:hover div, #Sete:hover div {
    transform: scale(1.1);
}

#Mtp:hover h2, #Sete:hover h2 {
    text-decoration: underline;
}

#Mtp{
    border-right: white solid 2px;
}

#Sete{
    border-left: white solid 2px;
}

.boite1 a {
    text-decoration: none;
    -webkit-text-fill-color: black;
    font-family: inherit;
}

.boite1 button {
    transition: all .2s;
}

.effect {
    display:flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: all .5s;
}
.effect * {
    z-index: 100;
}
.effect::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 25%;
    background-color: rgba(255, 255, 255, 0.75);
}

#Sete:hover div:before, #Mtp:hover div:before {
    display:block;
}

#Mtp div{
    background-image: url("../IMAGES/imgMtp.jpg");
    border-right: white solid 2px;
}

#Sete div{
    background-image: url("../IMAGES/imgSete.jpg");
    border-left: white solid 2px;
}

button {
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-radius: 15px;
}

div.menu {
    flex-direction: row;
    flex-wrap: wrap;
}
div.menu > a {
    width: 50%;
}
a.menuF > div{
    margin: 5%;
    text-decoration: none;
    border-radius: 5%;
    background-color: white;
    width: 100%;
    flex-direction: row;
}

div.text{
    flex-direction: column;
    width: 50%;


}
div.image {
    max-width: 50%;

}
img.image {
    max-width: 90%;
    margin: 5%;
    border-radius: 5%;

}

a.menuF:hover {

}

.menu {
    height: 1000px;
    background: red;
}

