body, header, main, footer{
    width: 100%;
    display: flex;
}
body{
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: beige;
}

header {
    height: 15vh;
    background-color: sandybrown;
}

main, section, div, a{
    width: 100%;
    display: flex;
}
div.menu {
    flex-direction: row;
    flex-wrap: wrap;
}
div.menu > a {
    width: 50%;
}
a.menuF > div{
    margin: 5%;
    text-decoration: none;
    border-radius: 5%;
    background-color: white;
    width: 100%;
    flex-direction: row;
}

div.text{
    flex-direction: column;
    width: 50%;


}
div.image {
    max-width: 50%;

}
img.image {
    max-width: 90%;
    margin: 5%;
    border-radius: 5%;

}

a.menuF:hover {

}
