body, header, main, footer{
    width: 100%;
    display: flex;
}
body{
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: beige;
}

header {
    height: 15vh;
    background-color: sandybrown;
}
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}
nav > * {
    color: white;
    margin: auto 0;
}

div.menu{
    flex-direction: row;
    margin: auto;
    max-width: 100px;
}

div.menu > a{
    padding: 0 2px;
    font-size: 40px;
    text-decoration: none;
    color: red;
}
div.menu > a:hover{
    padding: 0;
    text-decoration: none;
    font-size: 44px;
    color: saddlebrown;
}

nav > div.image {
    margin: 0;
    display: flex;
    max-width: 8vw;
    max-height: 8vw;
}